<head>
  <meta charset="utf-8">

  <title>Mark Sleator</title>
  <meta name="description" content="Portfolio Site">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    
    <style> 
        

        
@font-face {
   font-family: Dense;
   src: url(fonts/Dense.otf),
        url(fonts/dense-webfont.woff2) format('woff2'),
        url(fonts/dense-webfont.woff) format('woff');
        } </style>
</head>